<div class="my-bookings">
  <h1>Dashboard</h1>
  <div class="row dashboard-background">
    <% if @my_bookings[0] == nil %>
      <p class="center-text">----- You currently have no bookings -----</p>
    <% end %>
    <% @my_bookings.each do |booking| %>
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="dashboard-card">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.experience.photos? ? (cl_image_path booking.experience.photos.first.path) : (image_path 'museum.jpg') %>');">
          <div class="card-experience"><%= booking.experience.name %></div>
        </div>
        <div class="edit-icons">
          <% if booking.confirmed? %>
            <%= link_to booking_path(booking, booking: {aasm_state: :pending}), method: :put,
          data: { confirm: "Are you sure you want to cancel your booking?" } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <div class="booking-date">
          <h3>Booking Date:</h3>
          <p><%= booking.date %></p>
        </div>
      </div>
      <% if booking.assigned? %>
        <div class="greeter-choices">
          <%= link_to "Accept", booking_path(booking, booking: {aasm_state: :confirmed}), method: :put, class: "btn btn-primary center-text" %>
          <%= link_to "Decline", booking_path(booking, booking: {aasm_state: :declined}), method: :put, class: "btn btn-primary center-text" %>
        </div>
      <% end %>
      <% if booking.confirmed? %>
        <h2>Confirmed booking!</h2>
        <p>Please check your e-mail and contact visitor at earliest convenient time</p>
      <% end %>
      <% if booking.declined? %>
        <h2>Booking declined</h2>
      <% end %>
      <% if booking.pending? %>
        <h2>Booking cancelled</h2>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
