<div class="my-bookings">
  <h1>My Bookings</h1>
  <div class="row dashboard-background">
    <% @my_bookings.each do |booking| %>
    <div class="col col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="dashboard-card">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.experience.photos? ? (cl_image_path booking.experience.photos.first.path) : (image_path 'museum.jpg') %>');">
          <div class="card-experience"><%= booking.experience.name %></div>
        </div>
        <div class="edit-icons">
          <%= link_to "/bookings/#{booking.id}", method: :delete,
        data: { confirm: "Are you sure you want to cancel your booking?" } do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="booking-date">
          <h3>Booking Date:</h3>
          <p><%= booking.date %></p>
        </div>
      </div>
      <div class="booking-status">
        <%= render partial: booking.aasm_state %>
      </div>
    </div>
    <% end %>
  </div>
</div>
