<div class="page-background" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path "Shanghai-5.jpg" %>');">
  <div class="login">
    <div class="form-header">
      <h2>New booking</h2>
    </div>
    <div class="form">
      <%= simple_form_for [@experience, @booking] do |e| %>
      <%= e.error_notification %>
        <div class="form-inputs">
          <%= e.input :date, :as => :hidden %>
          <%= e.input :country, label: 'Which Country are you from?', required: true %>
          <%= e.input :address, label: 'Address in Shanghai', required: true %>
          <%= e.input :mobile, label: 'Mobile Number' %>
          <%= e.input :attendees, label: 'Number of people to attend the experience', collection: [ "1", "2", "3", "4", "5", "6" ], required: true %>
          <%= e.input :language, label: 'Which language would you like your greeter to speak?', required: true %>
        </div>

        <div class="form-actions">
          <%= e.button :submit, "Book", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!-- - Country (label: Which Country are you from?)
- Address (label: Address in Shanghai)
- Mobile (label: Mobile Number)
- Attendees (label: Number of people to attend the experience)
- Language (label: Which language would you like your greeter to speak?)
 -->
