<div class="footer">
  <div class="navigations">
    <p><%= link_to "About Us", about_us_path %></p>
    <p><%= link_to "Book An Experience", experiences_path, class: "bold branded" %></p>
    <p><%= link_to "Become A Greeter", become_a_greeter_path %></p>
    <%= link_to t(".sign_in", default: "Sign In"), new_user_session_path %>
  </div>

  <div class="global-greeters">
    <p class="bold">Global Greeter Network</p>
    <p><%= link_to "New York", "https://bigapplegreeter.org/" %></p>
    <p><%= link_to "Tokyo", "https://tokyogreeter.jimdo.com/" %></p>
    <p><%= link_to "Paris", "https://greeters.paris/" %></p>
  </div>

  <div class="donate">
    <%= link_to "Donate", root_path, class: "btn-ghost" %>
    <p class="bold">Donations keep us going!</p>
    <p>We are a non-profit and any donation is much appreciated.</p>
    <p>Your donation will be used in maintenance of</p>
    <p>the website and improving experiences.</p>
  </div>
</div>
