<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "shanghai6.jpg" %>');">
  <div class="banner-content">
    <h1>Discover Shanghai the local way</h1>
    <p>Let a greeter take you on a journey</p>
    <%= link_to "See More", experiences_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

<!-- Value Prop -->
<div class="container value-prop">
  <div class="row">
    <div class="col-sm-4">
      <div class="value">
        <%= image_tag "flag.png" %>
        <p class="bold">We are your local friend</p>
        <p>Ready to show you our</p>
        <p>favorite spots</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="value">
        <%= image_tag "money.png" %>
        <p class="bold">It's free!!</p>
        <p>We are all volunteers</p>
        <p>who want to share a passion</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="value">
        <%= image_tag "heart.png" %>
        <p class="bold">Book by interest</p>
        <p>We tailor your experience</p>
        <p>to what you like</p>
      </div>
    </div>
  </div>
</div>

<!-- CARDS -->
<!-- Tie Cards -->
<div class="container cards">
  <div class="cards-title">
    <h2>POPULAR EXPERIENCES</h2>
    <%= link_to "See All", experiences_path %>
  </div>
  <div class="row">
      <% @top_experiences.each do |experience| %>
      <div class="col col-xs-12 col-sm-4">
        <%= link_to experience_path(experience), class: "card-link" do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= experience.photos? ? (cl_image_path experience.photos.first.path) : (image_path 'museum.jpg') %>');">
        <% end %>
          <div class="card-experience"><%= experience.name %></div>
        </div>
      </div>
      <% end %>
    </div>
</div>

<!-- Testimonials -->
<div class="container-fluid">
  <div class="row peach">
    <h2>WHAT GREETERS & VISITORS HAVE TO SAY</h2>
    <div class="col col-xs-12 col-sm-4">
      <div class="testimonial">
        <%= image_tag "testimonial-1.png", class: "testimonial-avatar" %>
        <h2>Francois</h2>
        <h3>Visitor - Paris, France</h3>
        <p>Although this wasn't my first time in Shanghai, my greeter took me to places I've never been which made everything feel exciting and new. I also made a great new friend.</p>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="testimonial">
        <%= image_tag "testimonial-3.png", class: "testimonial-avatar" %>
        <h2>Coco</h2>
        <h3>Greeter - Shanghai, China</h3>
        <p>Shanghai is me hometown. I'm so proud and in love with this city, sharing my favourite places and meeting so many new diverse people makes me super happy.</p>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-4">
      <div class="testimonial">
        <%= image_tag "testimonial-4.png", class: "testimonial-avatar" %>
        <h2>Melissa</h2>
        <h3>Visitor - Vancouver, Canada</h3>
        <p>This was my first time travelling to China and I wanted to make the most of my time there by seeing more than just what tour guides would show you. This was perfect!</p>
      </div>
    </div>
  </div>
</div>

<!-- MOSAIC -->
<div class="wrapper">
  <section id="photos">
    <div class="mosaic"><%= image_tag "Bobo.jpg" %></div>
    <div class="mosaic"><%= image_tag "Chloe.jpg" %></div>
    <div class="mosaic"><%= image_tag "Evan.jpg" %></div>
    <div class="mosaic"><%= image_tag "Coco.jpg" %></div>
    <div class="mosaic"><%= image_tag "Yu.jpg" %></div>
    <div class="mosaic"><%= image_tag "Felix.jpg" %></div>
    <div class="mosaic"><%= image_tag "Hillary.jpg" %></div>
    <div class="mosaic"><%= image_tag "Jenny.jpg" %></div>
    <div class="mosaic"><%= image_tag "Maggie.jpg" %></div>
    <div class="mosaic"><%= image_tag "Max.jpg" %></div>
    <div class="mosaic"><%= image_tag "Sarah.jpg" %></div>
    <div class="mosaic"><%= image_tag "Shelly.jpg" %></div>
    <div class="mosaic"><%= image_tag "Yoyo.jpg" %></div>
    <div class="mosaic"><%= image_tag "Jimmy.jpg" %></div>
    <div class="mosaic"><%= image_tag "TingTing.jpg" %></div>
  </section>
</div>
