<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "shanghai6.jpg" %>');">
  <div class="banner-content">
    <h1>Discover Shanghai The Local Way</h1>
    <p>Book an experience with one of our greeters</p>
    <%= link_to "Book Now", root_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

<!-- Value Prop -->
<%= image_tag "value-prop.png", class: "value-prop" %>
<div class="values">
  <p>Book An Experience</p>
  <p>Meet Your Greeter</p>
  <p>See Shanghai The Local Way</p>
</div>


<!-- CARDS -->
<!-- Tie Cards -->
<div class="container cards">
  <div class="cards-title">
    <h2>EXPERIENCES</h2>
    <%= link_to "See All", root_path %>
  </div>
  <div class="row">
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photography.jpg' %>');">
      <% end %>
        <div class="card-experience"> <p>PHOTOGRAPHY</p> </div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photography.jpg' %>');">
      <% end %>
        <div class="card-experience"> <p>PHOTOGRAPHY</p> </div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photography.jpg' %>');">
      <% end %>
        <div class="card-experience"> <p>PHOTOGRAPHY</p> </div>
      </div>
    </div>
  </div>
</div>

