<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "shanghai6.jpg" %>');">
  <div class="banner-content">
    <h1>Discover Shanghai the local way</h1>
    <p>Let a greeter take you on a journey</p>
    <%= link_to "See More", experiences_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

<!-- Value Prop -->
<div class="container value-prop">
  <div class="row">
    <div class="value col col-sm-4">
      <%= image_tag "flag.png" %>
      <p class="bold">We are your local friend</p>
      <p>Ready to show you our</p>
      <p>favorite spots</p>
    </div>
    <div class="value col col-sm-4">
      <%= image_tag "money.png" %>
      <p class="bold">It's free!!</p>
      <p>We are all volunteers</p>
      <p>who want to share a passion</p>
    </div>
    <div class="value col col-sm-4">
      <%= image_tag "heart.png" %>
      <p class="bold">Book by interest</p>
      <p>We tailor your experience</p>
      <p>to what you like</p>
    </div>
  </div>
</div>

<!-- CARDS -->
<!-- Tie Cards -->
<div class="container cards">
  <div class="cards-title">
    <h2>POPULAR EXPERIENCES</h2>
    <%= link_to "See All", experiences_path %>
  </div>
  <div class="row">
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photography.jpg' %>');">
      <% end %>
        <div><p class="card-experience">PHOTOGRAPHY</p></div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bund.jpg' %>');">
      <% end %>
        <div><p class="card-experience">the bund</p></div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'local-food.jpg' %>');">
      <% end %>
        <div><p class="card-experience">local food</p></div>
      </div>
    </div>
  </div>
</div>

