<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "shanghai6.jpg" %>');">
  <div class="banner-content">
    <h1>Discover Shanghai The Local Way</h1>
    <p>Book a FREE experience with one of our greeters</p>
    <%= link_to "Book Now", experiences_path, class: "btn btn-primary btn-banner" %>
  </div>
</div>

<!-- Value Prop -->
<div class="container value-prop">
  <div class="row">
    <div class="value col col-sm-4">
      <%= image_tag "flag.png" %>
      <p class="bold">We Are Not Tour Guides</p>
      <p>We are your local friend</p>
      <p>ready to show you around</p>
    </div>
    <div class="value col col-sm-4">
      <%= image_tag "money.png" %>
      <p class="bold">It's Free!!</p>
      <p>We are all volunteers</p>
    </div>
    <div class="value col col-sm-4">
      <%= image_tag "heart.png" %>
      <p class="bold">Book By Interest</p>
      <p>We do our best to tailor</p>
      <p>your experience to what</p>
      <p>you like</p>
    </div>
  </div>
</div>

<!-- CARDS -->
<!-- Tie Cards -->
<div class="container cards">
  <div class="cards-title">
    <h2>POPULAR EXPERIENCES</h2>
    <%= link_to "See All", experiences_path %>
  </div>
  <div class="row">
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'photography.jpg' %>');">
      <% end %>
        <div><p class="card-experience">PHOTOGRAPHY</p></div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bund.jpg' %>');">
      <% end %>
        <div><p class="card-experience">the bund</p></div>
      </div>
    </div>
    <div class="col col-sm-4 ">
      <%= link_to root_path, class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'local-food.jpg' %>');">
      <% end %>
        <div><p class="card-experience">local food</p></div>
      </div>
    </div>
  </div>
</div>

