<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @experience.photos? ? (cl_image_path @experience.photos.first.path) : (image_path 'museum.jpg') %>');">
  <div class="banner-content">
    <h1><%= @experience.name %></h1>
  </div>
</div>

<div class="experience">
  <div class="experience-details">
    <h3>About This Experience</h3>
    <div class="experience-description">
      <%= @experience.description %>
    </div>
    <h3>What You Can Expect:</h3>
    <div class="experience-expectations">
      <p><i class="fa fa-check" aria-hidden="true"></i> <%= @experience.expectation_one %></p>
    </div>
    <div class="experience-expectations">
      <% if @experience.expectation_two? %>
        <p><i class="fa fa-check" aria-hidden="true"></i> <%= @experience.expectation_two %></p>
      <% end %>
    </div>
    <div class="experience-expectations">
      <% if @experience.expectation_three? %>
        <p><i class="fa fa-check" aria-hidden="true"></i> <%= @experience.expectation_three %></p>
      <% end %>
    </div>
    <div class="experience-notice">
      <% if @experience.notice? %>
        <p><i class="fa fa-asterisk" aria-hidden="true"></i> <%= @experience.notice %></p>
      <% end %>
    </div>
  </div>
  <div class="booking">
    <h3>BOOK YOUR EXPERIENCE!</h3>
    <p>calendar</p>
    <p>calendar</p>
    <p>calendar</p>
    <p>calendar</p>
    <p>calendar</p>
  </div>
</div>
